table {
            border-collapse: collapse;
            margin: auto;
            font-size: 30px;
            background-color: white;
        }

 thead,
tbody,
th,
td {
            border: solid 1px black;

        }